<section class="end-shifts">
  <p id="notice"><%= notice %></p>

  <h1>Listing End Shifts</h1>

  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Cashier name</th>
          <th>Cash</th>
          <th>Debit</th>
          <th>Credit</th>
          <th>Agreement</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @end_shifts.each do |end_shift| %>
          <tr class="table-row">
            <td><%= end_shift.cashier_name %></td>
            <td><%= end_shift.cash %></td>
            <td><%= end_shift.debit %></td>
            <td><%= end_shift.credit %></td>
            <td><%= end_shift.agreement %></td>
            <td><%= link_to 'Show', end_shift %></td>

            <% if manager_signed_in? %>
            <td><%= link_to 'Edit', edit_end_shift_path(end_shift) %></td>
            <td><%= link_to 'Destroy', end_shift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>  
  </div>
  
  <br>

  <%= link_to 'New End shift', new_end_shift_path %>  
</section>
