<section class="new-order">
	<div class="inner-header">
		<div class="title-wrap">
			<h1>Turno de</h1>
			<p><%= current_cashier.name %></p>
		</div>		
		<% if cashier_signed_in? %>
			<div class="end-shift-button">
				<%= link_to destroy_cashier_session_path(:cashier_name => @cashier_name, 
													 :total_cash => @total_cash, 
													 :total_credit => @total_credit, 
													 :total_debit => @total_debit, 
													 :total_agreement => @total_agreement), 
													 method: :delete do %>
				<button>Cerrar Sesion</button>
			<% end %>
			</div>		
		<% end %>
	</div>	
	<div class="select-menu">
		<div class="categories">
			<% @categories.each do |category| %>
				<button class="category-buttons" id="<%= category.name %>"><%= category.name %></button>
			<% end %>	
		</div>
		
		<div id="products-options">
			<h3>Opciones</h3>
			<% Product.all.each do |p| %>
				<div class="products-hidden <%= p.category.name %>">
					<p><%= p.name %></p>
					<span id="<%= p.name.split(' ').join('-') + '-price' %>" hidden><%= p.price %></span>
					<input class="checkboxes roundedOne" type="checkbox" id='<%= p.name.split(' ').join('-') %>' >
					<span class="product-id" hidden><%= p.id %></span>
				</div>
			<% end %>
		</div>	
	</div>
	
	<div class="order-screen-container">
		<%= render 'form' %>
	</div>	
</section>

