<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="name-category">
      <h1>Nuevo Producto</h1>
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :price %><br>
        <%= f.number_field :price %>
      </div>
      <p>Category</p>
      <div class="field">
        <%= f.select :category_id, Category.all.collect { |c| [ c.name, c.id ] } %>
      </div>  
    </div>

    <div class="add-ingredients">
      <div class="add-button">
        <p id="more">Añadir Ingrediente</p>  
      </div>
      
      <%= f.fields_for :consumptions, @consumptions do |ff| %>
      <div id="new-ingredients-container">
        <div class="titles">
          <p>Ingrediente</p>
          <p>Consumo</p>
        </div>
        <div class="ingredients-row">
          <%= ff.select :supply_id, Supply.all.collect { |c| [ c.name, c.id ] }, {}, {class: "ingredients-select"}  %>
          <%= ff.number_field :consumption %>  
        </div>
      </div>
      <% end %>  
    </div>  
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script>

</script>