<header>
	<nav>
		<ul>
		<% if manager_signed_in? %>
			<li><%= link_to "Productos", products_path %></li>
			<li><%= link_to "Insumos", supplies_path %></li>
			<li><%= link_to "Categorias", categories_path %></li>
			<li><%= link_to "Ventas", orders_path %></li>
			<li><%= link_to "IR A CAJA", new_order_path %></li>
			<li><%= link_to "Cerrar Sesion", destroy_admin_session_path, method: :delete %></li>
		<% elsif admin_signed_in? %>
			<li><%= link_to "Cerrar Sesion", destroy_admin_session_path, method: :delete %>
		<% end %>
		</ul>
	</nav>
</header>